# FRON END
# dependencies
frontend/app/node_modules/

# Dependency directories federation
federation/node_modules/

# BACK END
backend/pizza/pizza/__pycache__/
backend/pizza/db.sqlite3

# Other
/venv/
.vscode/